soc_verify/soc_axi/run_vivado/*.dmp
soc_verify/soc_axi/run_vivado/*.log
soc_verify/soc_axi/run_vivado/project

soc_verify/soc_bram/run_vivado/*.dmp
soc_verify/soc_bram/run_vivado/*.log
soc_verify/soc_bram/run_vivado/project

soc_verify/soc_dram/run_vivado/*.dmp
soc_verify/soc_dram/run_vivado/*.log
soc_verify/soc_dram/run_vivado/project

soc_verify/soc_hs_bram/run_vivado/*.dmp
soc_verify/soc_hs_bram/run_vivado/*.log
soc_verify/soc_hs_bram/run_vivado/project

soc_verify/soc_hs_bram/run_vivado/*.dmp
soc_verify/soc_hs_bram/run_vivado/*.log
soc_verify/soc_hs_bram/run_vivado/project

gettrace/
module_verify/
soc_verify/
*.vhd
*.dmp
*.wcg
*.wdb